.catalog-title {
  background-color: #eeeeee;
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog-title__title {
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}