.info {
  padding-top: 40px;
}

.info__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  border-bottom: 2px solid #eeeeee;
}

.info__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.info__text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-top: 0;
  margin-bottom: 30px;
}

.info__list {
  list-style: none;
  padding-left: 35px;
}

.info__list-title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}

.info__item {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  position: relative;
  margin-bottom: 30px;
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.info__img {
  margin-bottom: 35px;
}

.info__table {
  width: 100%;
}

.info__caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.info__numbers {
  box-sizing: content-box;
  td {
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .info__percent {
    font-size: 25px;
    vertical-align: super;
  }
}

.info__second-row {
  td {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
  }
}

.info__partners-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.info__bottom {
  border-bottom: 2px solid #eeeeee;
}

.info__partners-item {
  position: relative;
}

.info__partners-item::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;

  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.info__partners-item:first-child::after {
  display: none;
}

.info__partners-link {
  img {
    opacity: 0.3;
  }
}