doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=1200 initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title Nerds // Catalog
	body
		- var isCatalog = true;
		include html/header
		main
			.catalog-title
				.container
					h1.catalog-title__title Магазин готовых шаблонов
			.sort-n-catalog 
				.container 
					section.filter 
						h2.visually-hidden Фильтр товаров
						form.filter-form(action="#") 
							.filter__price
								p.filter__title Стоимость:
								.filter__scale-block 
									.filter__scale 
										.filter__bar 
									.filter__range-toggle 
									.filter__range-toggle 
								.filter__price__block 
									.filter__price-from 
										label.filter__price-label(for="from") От
										input#from(type="number", name="from", min="0", value="0")
									.filter__price-to
										label.filter__price-label(for="to") До
										input#to(type="number", name="to", value="15000")
							.filter__grid 
								p.filter__title Сетка:
								.filter__item
									input#adaptive(type="radio", name="grid", value="adaptive")
									label.filter__label(for="adaptive") Адаптивная
								.filter__item 
									input#fixed(type="radio", name="grid", value="fixed")
									label.filter__label(for="fixed") Фиксированная	
								.filter__item 
									input#rubber(type="radio", name="grid", value="rubber")
									label.filter__label(for="rubber") Резиновая
							.filter__features
								p.filter__title Особенности:
								.filter__item
									input#slider(type="checkbox", name="features", value="slider")
									label.filter__label(for="slider") Слайдер
								.filter__item
									input#advantages(type="checkbox", name="features", value="advantages")
									label.filter__label(for="advantages") Блок преимуществ
								.filter__item 
									input#news(type="checkbox", name="features", value="news")
									label.filter__label(for="news") Новости
								.filter__item 
									input#gallery(type="checkbox", name="features", value="gallery")
									label.filter__label(for="gallery") Галлерея
								.filter__item 
									input#cart(type="checkbox", name="features", value="cart")
									label.filter__label(for="cart") Корзина
							button.filter__btn(type="submit") Показать
					section.catalog
						.catalog__sort 
							p.catalog__sort-title Сортировать:
							.catalog__sort-links 
								a.catalog__sort-link.catalog__sort-link--active(href="#") По цене
								a.catalog__sort-link(href="#") По типу
								a.catalog__sort-link(href="#") По названию
							.catalog__sort-arrows 
								a.catalog__sort-arrow.catalog__sort-arrow--descending(href="#") По убыванию
								a.catalog__sort-arrow(href="#") По возростанию
						ul.catalog__catalog 
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-sedona.jpg", alt="Sedona")
								.catalog__hover 
									p.catalog__title Sedona
									p.catalog__text Информационный сайт<br>для туристов
									a.catalog__price(href="#") 9 900 руб.
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-pink.jpg", alt="Pink")
								.catalog__hover 
									p.catalog__title Pink app
									p.catalog__text Продуктовый лендинг<br>приложения для iOS и Android
									a.catalog__price(href="#") 9 900 руб.
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-barbershop.jpg", alt="Barbershop")
								.catalog__hover 
									p.catalog__title Barbershop
									p.catalog__text Сайт салоны красоты.<br>Для мужчин, да.
									a.catalog__price(href="#") 9 900 руб.
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-mishka.jpg", alt="Mishka")
								.catalog__hover 
									p.catalog__title Mishka
									p.catalog__text Интернет-магазин<br>вязаных игрушек
									a.catalog__price(href="#") 9 900 руб.
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-aplus.jpg", alt="A-plus")
								.catalog__hover 
									p.catalog__title A Plus
									p.catalog__text Лендинг курсов повышения<br>квалификации
									a.catalog__price(href="#") 9 900 руб.
							li.catalog__item 
								svg.catalog__browser(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='360px' height='40px' viewBox='0 0 360 40' enable-background='new 0 0 360 40' xml:space='preserve')
									path(fill='#e9e9e9' d='M356,0H4C1.8,0,0,1.8,0,4v16v20h360V4C360,1.8,358.2,0,356,0z M22.991,27c-3.866,0-7-3.134-7-7s3.134-7,7-7  s7,3.134,7,7S26.857,27,22.991,27z M46.002,27c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S49.868,27,46.002,27z M69.013,27  c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S72.879,27,69.013,27z')
								img.catalog__img(src="@img/img-kvast.jpg", alt="Kvast")
								.catalog__hover 
									p.catalog__title Кваст
									p.catalog__text Промо-сайт производителя<br>крафтового кваса
									a.catalog__price(href="#") 9 900 руб.
						.catalog__pagination
							ul.catalog__pagination-list 
								li.catalog__pagination-item
									a.catalog__pagionation-link.catalog__pagionation-link--active(href="#") 1
								li.catalog__pagination-item
									a.catalog__pagionation-link(href="#") 2
								li.catalog__pagination-item
									a.catalog__pagionation-link(href="#") 3
							a.catalog__pagination-next(href="#") Следующая
			section.map 
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533216!2d30.320858716014556!3d59.93871648187625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1643914630310!5m2!1sru!2sru" width="100%" height="420" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				.container 
					.map__info 
						b.map__title NЁRDS DESIGN STUDIO
						p.map__addres 191186, Санкт-Петербург,<br>ул. Б. Конюшенная, д. 19/8 
						p.map__tel тел. <a href="tel:+78122757575">+7 (812) 275-75-75</a>
						a.map__write-us(href="#") Напишите нам
		include html/footer
		script(src="js/app.min.js") 